{% extends 'base.html.twig' %}

{% block title %}Type de Produits Liste{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Types des Produit</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_produit in type_produits %}
            <tr>
                <td>{{ type_produit.id }}</td>
                <td>{{ type_produit.type }}</td>
                <td>
                    <a href="{{ path('type_produits_show', {'id': type_produit.id}) }}">voir</a>
                    <a href="{{ path('type_produits_edit', {'id': type_produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouver!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_produits_new') }}">Créer</a>
</div>
{% endblock %}
