{% extends 'base.html.twig' %}

{% block title %}Historique de mouvement{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Liste des produits du reférence {{ reference }}</h1>
    </div>
    <hr>
    <h2><strong> - Projet : </strong>{{ projet }}</h2>
    <h2><strong> - Client : </strong>{{ client }}</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Désignation</th>
                <th>Quantite</th>
                {# <th>CauseAnnulation</th> #}
                <th>Date Saisie</th>
                {# <th>DateValidation</th> #}
                <th>Reférence</th>
                {# <th>actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.produit }}</td>
                <td>{{ stock.produit.designation }}</td>
                <td>{{ stock.quantite }}</td>
                {# <td>{{ stock.causeAnnulation }}</td> #}
                <td>{{ stock.dateSaisie ? stock.dateSaisie|date('Y-m-d H:i:s') : '' }}</td>
                {# <td>{{ stock.dateValidation ? stock.dateValidation|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>{{ stock.referencePanier }}</td>
                <td>
                    {# <a href="{{ path('validation', {'id': stock.id}) }}" class="btn btn-primary">voir</a> #}
                    {# <a href="{{ path('stocks_edit', {'id': stock.id}) }}" class="btn btn-danger">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouver!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(stocks) }}
    </div>
    <br><br>
    <a href="{{ path('historiques') }}" class="btn btn-primary">Retour</a>
    {# <a href="{{ path('modifier', {'ref': reference}) }}" class="btn btn-success">Modifier</a>
    <a href="{{ path('annuler', {'ref': reference}) }}" class="btn btn-danger">Annuler</a> #}
</div>
{% endblock %}
