{% extends 'base.html.twig' %}

{% block title %}Mouvements index{% endblock %}

{% block body %}
    <h1>Mouvements index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mouvement in mouvements %}
            <tr>
                <td>{{ mouvement.id }}</td>
                <td>{{ mouvement.type }}</td>
                <td>
                    <a href="{{ path('mouvements_show', {'id': mouvement.id}) }}">show</a>
                    <a href="{{ path('mouvements_edit', {'id': mouvement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mouvements_new') }}">Create new</a>
{% endblock %}
