{% extends 'base.html.twig' %}

{% block title %}Produits Liste{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Produits</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Produit</th>
                <th>Designation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.produit }}</td>
                <td>{{ produit.designation }}</td>
                <td>
                    <a href="{{ path('produits_show', {'id': produit.id}) }}">voir</a>
                    <a href="{{ path('produits_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouver!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produits_new') }}">Créer</a>
</div>
{% endblock %}
